.card-img-top{
    margin: auto;
}
.comment-area{
    display: flex;
    padding: 18px;
}
.card-text{
    padding-left: 7px;
    color: #566272;
}

.child-txt h5{
    font-weight: 700;
    color: #0F2137;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-size: 19px !important;
    text-align: start;
    line-height: 36px;

}
.comment-img-new{
    padding-top: 7px;
}
.child-laptop .card{
    border-radius: 15px;
}